* {
    box-sizing: border-box;
  }

  body {
    margin: auto 0; 
    
  }

.projects-container {
    height: 75vh; 
    overflow: scroll;
    font-family: 'Oranienbaum', serif; 
    

}


  main {
      text-align: left; 
      margin-top: 5vh;
      font-family: 'News Cycle', sans-serif;

      
  }

  .nav-link {
      color: black; 
      text-decoration: none; 
      font-size: 25px;
      margin: 2px; 
  
      
    
  }

  .projects {
      text-align: center;
  }
 

  

  li {
      margin-top: .5%;
      display: inline-block; 
  }

  
  body {
    background-color: white; 
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 300; 
  }
  
  .image {
    background-color:white;
    height: 200px;
    width: 200px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    float: right;
  }
  

  .left-nav {
      display: inline-block; 
      width: 35%; 
      list-style: none; 
      margin-top: 10%; 
     
      
      
      
  }

  .right-desc {
      width: 65%; 
      float: right; 
      font-size: 20px; 
      margin-bottom: 50px; 
      padding: 25px; 
      margin-top: 7%; 
      font-family: 'News Cycle', sans-serif;

    }

    .btn {
        font-size: 16px; 
        font-family: 'News Cycle', sans-serif;
        padding: 5px 10px; 
        font-weight: 300; 
        background-color: #ADD8E6;
        border-color: black;  
        font-weight: 400;  
        transition: color 1s; 
        transition: background-color 1s; 
        cursor: pointer;
        font-weight: bold;
        margin: 0 auto; 

       

    }

    .row {
        display: flex;
      }
      
      .column {
        flex: 33.33%;
        padding: 5px;

        
      }
    
        
  
  
  
    .btn:hover {
        color: rgb(43, 43, 247); 
        background-color: darkgray; 
        
    }

  

  ul {
      list-style: none; 
      padding: 0; 
      text-align: center;
      font-size: 18px; 
      
  }
  
  
  h2 {
    margin-bottom: 0px;
  }


  .irc_mi {
      width: 100%; 
      height: auto; 
      border-right: 1px solid black;
      padding: 5%;
      
 
      
  }
  @media screen and (max-width: 800px){
      .left-nav {
          display: block; 
          width: 100%; 
          
          
      }

      .irc_mi {
          border-bottom: 0; 
          padding: 0; 
      }

      li {
          display: block; 
      }

      .right-desc, .aboutme {
          float: none; 
          width: 100%; 
         
    
      }
    
      .movie {
          width: 100%;
          height: auto;

      }

     
      