* {
    box-sizing: border-box;
  }


.projects-container {
    height: 75vh; 
    overflow: scroll;
    

}


  main {
      text-align: left; 
      margin-top: 5vh;
  }

  .nav-link {
      color: black; 
      text-decoration: none; 
      font-size: 25px;
      
  
    
  }

  .nav-link:hover {
      color:darkblue; 

  }

  li {
      margin-top: .5%;
      display: inline-block; 
  }

  
  body {
    background-color: #B1C0CA;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 300; 
  }
  
  .image {
    background-color:white;
    height: 200px;
    width: 200px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    float: right;
  }
  

  .left-nav {
      display: inline-block; 
      width: 35%; 
      list-style: none; 
      margin-top: 10%; 
      
      
      
  }

  .right-desc {
      width: 65%; 
      float: right; 
      font-size: 20px; 
      margin-bottom: 20px; 
      padding: 25px; 
      margin-top: 20%; 
  }

  .aboutme {
    width: 65%; 
    float: right; 
    font-size: 20px; 
    margin-bottom: 20px; 
    padding: 25px; 
    margin-top: 16.5%; 
} 
  

  .Office.right-desc {
      margin-top: 6%; 
      margin-bottom: 15px;
      padding: 25px; 
       
    
  }
  .Heels.right-desc {
    margin-top: 6%; 
    margin-bottom: 15px;
    padding: 25px; 
  }

  .Quiz {
      width: 100%;
      height: auto; 
     
    
  }

  .Heels {
      width: 100%;
      height: auto;
  }

  ul {
      list-style: none; 
      padding: 0; 
      text-align: center;
      font-size: 18px; 
      
  }
  
  
  h2 {
    margin-bottom: 0px;
  }


  .irc_mi {
      width: 100%; 
      height: auto; 
      border-right: 1px solid black;
      padding: 5%;
      
  }

  .btn-dark, .btn-light {
      font-size: 18px; 
      font-family: sans-serif; 
      padding: 5px 10px; 
      font-weight: 300; 
      background-color:lightgray;
      border-color: black;  
      font-weight: 400;  
      transition: color 1s; 
      transition: background-color 1s; 


  }

  .btn-dark:hover, .btn-light:hover {
      color: lightskyblue; 
      background-color: darkgray; 
  }
  @media screen and (max-width: 800px){
      .left-nav {
          display: block; 
          width: 100%; 
          
      }

      .irc_mi {
          border-bottom: 0; 
          padding: 0; 
      }

      li {
          display: block; 
      }

      .right-desc, .aboutme {
          float: none; 
          width: 100%; 
    
      }
      